@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  border: 0;
}

body {
  font-family: "微软雅黑",sans-serif;
  font-size: 12px;
}