@charset "UTF-8";
/*去掉标签的默认样式*/
* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑","宋体","sans-serif";
  position: relative;
  box-sizing: border-box;
  list-style: none; }

a {
  text-decoration: none; }

input, select {
  border: none; }

.body {
  width: 100%; }

.inner {
  width: 1200px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 99; }

.zhao {
  width: 100%;
  height: auto;
  background: #000;
  opacity: 0.8;
  z-index: 50; }

/*parttop start*/
.parttop {
  width: 1200px;
  height: 630px;
  background: #ebebeb;
  margin: 0 auto;
  padding: 30px 50px;
  margin-top: 100px;
  background: #edecec;
  z-index: 99; }
  .parttop .picbox {
    width: 317px;
    height: 189px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -110px;
    z-index: 999; }
    .parttop .picbox img {
      box-shadow: 0 0 10px #888; }
  .parttop .topone {
    width: 30%;
    height: 320px;
    float: left;
    text-align: center;
    background: url(../imgs/companyprofile/phone.jpg) center no-repeat;
    background-size: cover;
    margin-right: 5%;
    margin-top: 80px; }
    .parttop .topone .circle {
      width: 33px;
      height: 33px;
      border-radius: 50%;
      border: 3px solid #fff;
      background: #6cce24;
      box-shadow: 0 0 2px #cbc8c9;
      left: -15px;
      top: -15px; }
      .parttop .topone .circle .col {
        width: 90%;
        height: 3px;
        background: #fff;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        border-radius: 10%;
        transform: rotate(45deg); }
      .parttop .topone .circle .row {
        width: 90%;
        height: 3px;
        background: #fff;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        border-radius: 10%;
        transform: rotate(135deg); }
  .parttop .toptwo {
    width: 30%;
    height: 320px;
    float: left;
    text-align: center;
    background: url(../imgs/companyprofile/peple.jpeg) center no-repeat;
    background-size: cover;
    margin-right: 5%;
    margin-top: 80px; }
    .parttop .toptwo .circle {
      width: 33px;
      height: 33px;
      border-radius: 50%;
      border: 3px solid #fff;
      background: #6cce24;
      box-shadow: 0 0 2px #cbc8c9;
      left: -15px;
      top: -15px; }
      .parttop .toptwo .circle .col {
        width: 90%;
        height: 3px;
        background: #fff;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border-radius: 10%;
        transform: rotate(45deg);
        position: absolute; }
      .parttop .toptwo .circle .row {
        width: 90%;
        height: 3px;
        background: #fff;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border-radius: 10%;
        transform: rotate(135deg);
        position: absolute; }
  .parttop .topthree {
    width: 30%;
    height: 320px;
    float: left;
    background: #10c8f0;
    text-align: center;
    position: relative;
    margin-top: 80px; }
    .parttop .topthree .row {
      width: 100px;
      height: 10px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background: #fff; }
    .parttop .topthree .col {
      width: 10px;
      height: 100px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background: #fff; }
  .parttop .ul {
    height: 100px;
    width: 100%;
    float: left; }
    .parttop .ul li:nth-of-type(1) {
      width: 30%;
      height: 100px;
      float: left;
      margin-right: 5%; }
      .parttop .ul li:nth-of-type(1) .btn {
        background: url(../imgs/companyprofile/bg.png);
        height: 50px;
        width: 150px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        outline: none;
        color: #fff;
        text-align: center;
        position: absolute; }
    .parttop .ul li:nth-of-type(2) {
      width: 30%;
      height: 100px;
      float: left;
      margin-right: 5%; }
      .parttop .ul li:nth-of-type(2) .btn {
        background: url(../imgs/companyprofile/bg.png);
        height: 50px;
        outline: none;
        color: #fff;
        text-align: center;
        width: 150px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute; }
    .parttop .ul li:nth-of-type(3) {
      width: 30%;
      height: 100px;
      float: left; }
      .parttop .ul li:nth-of-type(3) .btn {
        background: url(../imgs/companyprofile/bg.png);
        height: 50px;
        outline: none;
        color: #fff;
        text-align: center;
        width: 150px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute; }
  .parttop .bottom {
    width: 100%;
    float: left;
    height: 100px; }
    .parttop .bottom .submit {
      height: 80px;
      width: 300px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      float: left;
      position: absolute; }

.list {
  width: 80%;
  height: 75px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  background: #2d6748;
  z-index: 60; }
  .list ul {
    width: 100px;
    height: 17px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 20px; }
    .list ul li {
      width: 17px;
      height: 17px;
      border-radius: 50%;
      border: 3px solid #fff;
      background: #6cce24;
      border: 3px solid #fff;
      float: left;
      background: #fff;
      margin-right: 8px; }
    .list ul li:nth-of-type(1) {
      background: #f0c310; }

.pageselect {
  width: 305px;
  height: 108px;
  position: absolute;
  right: 40px;
  z-index: 70;
  background: url(../imgs/companyprofile/select.png); }
  .pageselect span:nth-of-type(1) {
    position: absolute;
    left: 20px;
    bottom: 30px;
    color: #f0c310;
    cursor: pointer; }
  .pageselect span:nth-of-type(2) {
    position: absolute;
    left: 40px;
    bottom: 30px;
    color: #f0c310;
    cursor: pointer; }
  .pageselect span:nth-of-type(3) {
    position: absolute;
    left: 85px;
    bottom: 20px;
    color: #fff;
    font-size: 30px; }
  .pageselect span:nth-of-type(4) {
    position: absolute;
    left: 125px;
    bottom: 25px;
    color: #fff;
    font-size: 18px; }

/*parttop end*/
/*partbottom start*/
.partbottom {
  width: 1200px;
  height: 630px;
  background: #ebebeb;
  margin: 0 auto;
  margin-top: 300px;
  padding: 30px 50px;
  background: #edecec;
  z-index: 99; }
  .partbottom .picbox {
    width: 317px;
    height: 189px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -110px;
    z-index: 999;
    background: url(../imgs/companyprofile/icon.png) center no-repeat; }
  .partbottom .topone {
    width: 30%;
    height: 320px;
    float: left;
    text-align: center;
    background: url(../imgs/companyprofile/phone.jpg) center no-repeat;
    background-size: cover;
    margin-right: 5%;
    margin-top: 80px; }
  .partbottom .toptwo {
    width: 30%;
    height: 320px;
    float: left;
    text-align: center;
    background: url(../imgs/companyprofile/peple.jpeg) center no-repeat;
    background-size: cover;
    margin-right: 5%;
    margin-top: 80px; }
    .partbottom .toptwo .leaf {
      width: 152px;
      height: 173px;
      position: absolute;
      top: -35px;
      right: -80px;
      background: url(../imgs/companyprofile/leaf.png) center no-repeat;
      z-index: 99;
      opacity: 0.8; }
  .partbottom .topthree {
    width: 30%;
    height: 320px;
    float: left;
    background: #10c8f0;
    text-align: center;
    position: relative;
    margin-top: 80px;
    z-index: 100; }
    .partbottom .topthree .row {
      width: 100px;
      height: 10px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background: #fff; }
    .partbottom .topthree .col {
      width: 10px;
      height: 100px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background: #fff; }
  .partbottom .ul {
    height: 100px;
    width: 100%;
    float: left; }
    .partbottom .ul li:nth-of-type(1) {
      width: 30%;
      height: 100px;
      float: left;
      margin-right: 5%; }
      .partbottom .ul li:nth-of-type(1) .btn {
        background: url(../imgs/companyprofile/bg.png);
        height: 50px;
        width: 150px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        outline: none;
        color: #fff;
        text-align: center;
        position: absolute; }
    .partbottom .ul li:nth-of-type(2) {
      width: 30%;
      height: 100px;
      float: left;
      margin-right: 5%; }
      .partbottom .ul li:nth-of-type(2) .btn {
        background: url(../imgs/companyprofile/bg.png);
        height: 50px;
        outline: none;
        color: #fff;
        text-align: center;
        width: 150px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute; }
    .partbottom .ul li:nth-of-type(3) {
      width: 30%;
      height: 100px;
      float: left; }
      .partbottom .ul li:nth-of-type(3) .btn {
        background: url(../imgs/companyprofile/bg.png);
        height: 50px;
        outline: none;
        color: #fff;
        text-align: center;
        width: 150px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute; }
  .partbottom .bottom {
    width: 100%;
    float: left;
    height: 100px; }
    .partbottom .bottom .submit {
      height: 80px;
      width: 300px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      float: left;
      position: absolute; }

.listone {
  width: 80%;
  height: 75px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  background: #2d6748;
  z-index: 60; }
  .listone ul {
    width: 100px;
    height: 17px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 20px; }
    .listone ul li {
      width: 17px;
      height: 17px;
      border-radius: 50%;
      border: 3px solid #fff;
      background: #6cce24;
      background: #fff;
      float: left;
      margin-right: 8px;
      border: 3px solid #fff; }
    .listone ul li:nth-of-type(1) {
      background: #f0c310; }

.pageselect {
  width: 305px;
  height: 108px;
  position: absolute;
  right: 40px;
  z-index: 70;
  background: url(../imgs/companyprofile/select.png); }
  .pageselect span:nth-of-type(1) {
    position: absolute;
    left: 20px;
    bottom: 30px;
    color: #f0c310;
    cursor: pointer; }
  .pageselect span:nth-of-type(2) {
    position: absolute;
    left: 40px;
    bottom: 30px;
    color: #f0c310;
    cursor: pointer; }
  .pageselect span:nth-of-type(3) {
    position: absolute;
    left: 85px;
    bottom: 20px;
    color: #fff;
    font-size: 30px; }
  .pageselect span:nth-of-type(4) {
    position: absolute;
    left: 125px;
    bottom: 25px;
    color: #fff;
    font-size: 18px; }

/*partbottom end*/
