@charset "UTF-8";
.gl {
  width: 100%;
  height: 834px;
  margin: 0 auto;
  background: silver; }

/*快速匹配*/
.pipei {
  width: 1200px;
  height: 100%;
  margin: 0 auto; }

.pipei1 {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  position: relative; }

.ppl {
  width: 230px;
  height: 100%;
  float: left;
  background: #0f2847; }

.yk {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border: 1px solid #82a5bc;
  margin-top: -15px; }

.ppz {
  width: 190px;
  height: 190px;
  background: #c7e8fd;
  border-radius: 50%;
  border-left: 25px solid #43d3f2;
  border-bottom: 25px solid #37a4c4;
  border-top: 25px solid #43d3f2;
  border-right: 25px solid #37a4c4;
  margin: 0 auto;
  margin-top: 20px; }

.ppz span {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 55px;
  color: #0c1f37; }

.yb {
  height: 200px;
  position: absolute;
  left: 228px;
  top: 0; }

.yb div {
  width: 5px;
  height: 5px;
  margin-top: 8px;
  border-radius: 50%;
  background: #fff; }

.ppr {
  width: 970px;
  height: 100%;
  float: right;
  background-image: url(../imgs/gongsiliebiao/ppr.png); }

.ppb {
  width: 845px;
  height: 60px;
  margin: 0 auto;
  background: #fff;
  border-radius: 50px;
  margin-top: 70px; }

#pb1 {
  width: 600px;
  height: 60px;
  float: left;
  margin-left: 50px;
  outline: none; }

#pb2 {
  width: 120px;
  height: 50px;
  float: right;
  border-radius: 50px;
  background: #6cce24;
  border: 2px solid #fff;
  margin-top: 20px;
  margin-right: -10px; }

.pipei2 {
  width: 100%;
  height: 194px;
  margin: 0 auto;
  margin-top: 20px; }

.pipei2 img:nth-of-type(1) {
  float: left; }

.pipei2 img:nth-of-type(2) {
  float: right; }

.pipei3 {
  width: 100%;
  height: 219px;
  margin: 0 auto;
  margin-top: 30px;
  background: url(../imgs/gongsiliebiao/p3bj.png);
  border-bottom: 1px solid #10c6ee;
  box-shadow: 0px -3px 10px #ccc; }

.pp3l {
  width: 800px;
  height: 100%;
  float: left; }
  .pp3l .p3tb {
    float: left;
    margin-left: 20px;
    margin-top: 50px; }

.pp3ls {
  width: 400px;
  height: 100%;
  float: left;
  margin-left: 50px; }
  .pp3ls .p31 {
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    margin-top: 70px;
    float: left;
    font-size: 12px; }
  .pp3ls .p32 {
    display: block;
    width: 160px;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    float: left; }
  .pp3ls .p33 {
    display: block;
    width: 160px;
    height: 35px;
    line-height: 35px;
    float: left;
    color: #10c6ee; }

.pp3r {
  width: 100px;
  float: right;
  height: 100%;
  margin-right: 150px; }
  .pp3r img {
    float: left;
    margin-left: 15px;
    margin-top: 40px; }
  .pp3r span {
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    float: left;
    font-size: 14px; }
  .pp3r input {
    width: 100px;
    height: 35px;
    background-image: url(../imgs/gongsiliebiao/pan.png);
    background-size: 100px 35px; }
  .pp3r .zb {
    width: 100px;
    height: 35px;
    background-image: url(../imgs/gongsiliebiao/pan2.png);
    background-size: 100px 35px; }

.fy {
  width: 100%;
  height: 50px;
  margin-top: 50px; }

.fy1 {
  width: 180px;
  height: 30px;
  float: left;
  margin-left: 200px; }
  .fy1 input {
    width: 80px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid #666; }
