.gl {
  width: 100%;
  height: 834px;
  margin: 0 auto;
  background: silver; }

.pipei {
  width: 1200px;
  height: 100%;
  margin: 0 auto; }

.pipei1 {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  position: relative; }

.ppl {
  width: 230px;
  height: 100%;
  float: left;
  background: #0f2847; }

.yk {
  width: 230px;
  height: 230px;
  border: 1px solid #ccc; }

.yb {
  height: 200px;
  position: absolute;
  left: 228px;
  top: 0; }

.yb div {
  width: 5px;
  height: 5px;
  margin-top: 8px;
  border-radius: 50%;
  background: #fff; }

.ppr {
  width: 970px;
  height: 100%;
  float: right;
  background-image: url(../imgs/gongsiliebiao/ppr.png); }
