<<<<<<< HEAD:css/list.css
@charset "UTF-8";
/*去掉标签的默认样式*/
* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑","宋体","sans-serif";
  position: relative;
  box-sizing: border-box;
  list-style: none;
  background: #fff;
}

a {
  text-decoration: none;
}

input, select {
  border: none;
}

.banner {
  width: 100%;
  height: 846px;
  background: url(../imgs/list/4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
}

.zhezhao {
  width: 100%;
  height: 100%;
  background: #2b5f6f;
  opacity: 0.8;
}

.lv {
  width: 225px;
  height: 250px;
  background: #177867;
  position: absolute;
  top: 270px;
  left: 910px;
  opacity: 0.6;
}

.yellow1 {
  width: 200px;
  height: 200px;
  background: #edd325;
  position: absolute;
  top: 300px;
  left: 45px;
  opacity: 0.6;
}

.yellow2 {
  width: 50px;
  height: 50px;
  background: #edd325;
  position: absolute;
  top: 270px;
  left: 10px;
  opacity: 0.6;
}

.bai {
  width: 100%;
  height: 200px;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
=======
div {
  width: 100px;
>>>>>>> c4ce3e900287c5bd297749e558cade784e2da019:css/information.css
}
