<<<<<<< HEAD
<<<<<<< HEAD:css/list.css
=======
>>>>>>> a99c612a186bacaaef97d838a2f0d87a9ced3d88
@charset "UTF-8";
/*去掉标签的默认样式*/
* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑","宋体","sans-serif";
  position: relative;
  box-sizing: border-box;
  list-style: none;
<<<<<<< HEAD
  background: #fff;
=======
>>>>>>> a99c612a186bacaaef97d838a2f0d87a9ced3d88
}

a {
  text-decoration: none;
}

input, select {
  border: none;
}

<<<<<<< HEAD
.banner {
  width: 100%;
  height: 846px;
  background: url(../imgs/list/4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
}

.zhezhao {
  width: 100%;
  height: 100%;
  background: #2b5f6f;
  opacity: 0.8;
}

.lv {
  width: 225px;
  height: 250px;
  background: #177867;
  position: absolute;
  top: 270px;
  left: 910px;
  opacity: 0.6;
}

.yellow1 {
  width: 200px;
  height: 200px;
  background: #edd325;
  position: absolute;
  top: 300px;
  left: 45px;
  opacity: 0.6;
}

.yellow2 {
  width: 50px;
  height: 50px;
  background: #edd325;
  position: absolute;
  top: 270px;
  left: 10px;
  opacity: 0.6;
}

.bai {
  width: 100%;
  height: 200px;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
=======
div {
  width: 100px;
>>>>>>> c4ce3e900287c5bd297749e558cade784e2da019:css/information.css
=======
#infor-comment {
  width: 100%;
  height: 894px;
  background: #f4f4f4;
}

#infor-comment .comment-con {
  width: 1200px;
  height: 670px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 90px;
  background: #f4f4f4;
}

#infor-comment .comment-con .comment-list {
  width: 890px;
  height: 100%;
  float: left;
  background: #f4f4f4;
}

#infor-comment .comment-con .comment-list .list-tit {
  width: 870px;
  height: 46px;
  position: relative;
  padding-left: 20px;
  background: #f4f4f4;
}

#infor-comment .comment-con .comment-list .list-tit .imgB {
  position: absolute;
  height: 0;
  left: 0;
>>>>>>> a99c612a186bacaaef97d838a2f0d87a9ced3d88
}
