@charset "UTF-8";
/*去掉标签的默认样式*/
* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑","宋体","sans-serif";
  position: relative;
  box-sizing: border-box;
  list-style: none; }

a {
  text-decoration: none; }

input, select {
  border: none; }

body {
  background: url(../imgs/jiejian/121.png);
  width: 100%;
  height: 4800px; }

.hezi {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden; }

.jianli {
  width: 960px;
  height: 630px;
  margin-top: 560px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  background: #EBEBEB;
  position: relative;
  z-index: 50; }

.resume {
  width: 320px;
  height: 180px;
  position: absolute;
  left: 50%;
  margin-left: -160px;
  top: -90px; }

.resume a {
  display: block;
  width: 320px;
  height: 180px; }

.resume img {
  width: 320px;
  height: 180px; }

.shouji {
  width: 860px;
  height: 400px;
  position: absolute;
  left: 50px;
  top: 120px;
  background: #EFEFEF; }

.shouji li {
  width: 270px;
  height: 400px;
  float: left; }

.shouji li a {
  display: block;
  width: 270px;
  height: 320px;
  position: relative; }

.shouji li a img {
  width: 270px;
  height: 320px; }

#imgs1 {
  width: 36px;
  height: 36px;
  position: absolute;
  left: -18px;
  top: -18px;
  z-index: 500; }

#imgs2 {
  width: 36px;
  height: 36px;
  position: absolute;
  left: -18px;
  top: -18px;
  z-index: 500; }

.shouji li:nth-of-type(2) {
  margin-left: 25px; }

.shouji li:nth-of-type(3) {
  margin-left: 25px; }

.input1 {
  width: 140px;
  height: 40px;
  background: url(../imgs/jiejian/1.jpg);
  background-size: 140px 40px;
  text-align: center;
  outline: none;
  margin: 20px 65px; }

#jpg2 a {
  display: block;
  width: 140px;
  height: 40px;
  margin: 20px 65px; }

#jpg2 img {
  width: 140px;
  height: 40px; }

.baocun {
  position: absolute;
  left: 50%;
  margin-left: -125px;
  bottom: 30px; }

.diandian {
  width: 430px;
  height: 55px;
  position: absolute;
  left: 100px;
  bottom: -55px;
  background: rgba(29, 212, 115, 0.5); }

.btn {
  width: 120px;
  height: 15px;
  margin-left: 50%;
  margin-top: 20px;
  position: relative; }

.btn li {
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border: 1px solid #fff;
  background: #fff;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  margin-left: 5px; }

.btn li:nth-of-type(1) {
  background: #f0c310; }

.huangse {
  width: 305px;
  height: 105px;
  background: url("../imgs/jiejian/9.png");
  position: absolute;
  left: 530px;
  bottom: -105px; }

.chang {
  position: absolute;
  left: 0;
  top: 50px; }

.huangse b {
  position: absolute;
  left: 100px;
  top: 50px;
  color: #fff;
  font-size: 22px; }

.huangse p {
  position: absolute;
  left: 130px;
  top: 58px;
  color: #fff;
  font-size: 14px; }

.bntl {
  width: 20px;
  height: 36px;
  position: absolute;
  left: 30px;
  top: 50px;
  text-align: center;
  line-height: 36px;
  color: #f0c310;
  z-index: 20;
  font-size: 20px; }

.bntr {
  width: 20px;
  height: 36px;
  position: absolute;
  left: 50px;
  top: 50px;
  text-align: center;
  line-height: 36px;
  color: #f0c310;
  font-size: 20px;
  z-index: 20; }

/*jianli*/
.jianli1 {
  width: 960px;
  height: 560px;
  margin-top: 230px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  background: #EBEBEB; }

.resume1 {
  width: 220px;
  height: 180px;
  position: absolute;
  left: 50%;
  margin-left: -120px;
  top: -90px; }

.resume1 a {
  display: block;
  width: 220px;
  height: 180px; }

.resume1 img {
  width: 220px;
  height: 180px; }

.shouji1 {
  width: 860px;
  height: 320px;
  position: absolute;
  left: 50px;
  top: 120px;
  background: #EFEFEF; }

.shouji1 li {
  width: 270px;
  height: 320px;
  float: left; }

.shouji1 li a {
  display: block;
  width: 270px;
  height: 320px;
  position: relative; }

.shouji1 li a img {
  width: 270px;
  height: 320px; }

.shouji1 li:nth-of-type(2) {
  margin-left: 25px; }

.shouji1 li:nth-of-type(3) {
  margin-left: 25px; }

.baocun {
  position: absolute;
  left: 50%;
  margin-left: -125px;
  bottom: 30px; }

.diandian {
  width: 430px;
  height: 55px;
  position: absolute;
  left: 100px;
  bottom: -55px;
  background: rgba(29, 212, 115, 0.5); }

.btn {
  width: 120px;
  height: 15px;
  margin-left: 50%;
  margin-top: 20px;
  position: relative; }

.btn li {
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border: 1px solid #fff;
  background: #fff;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  margin-left: 5px; }

.btn li:nth-of-type(1) {
  background: #f0c310; }

.huangse {
  width: 305px;
  height: 105px;
  background: url("../imgs/jiejian/9.png");
  position: absolute;
  left: 530px;
  bottom: -105px; }

.chang {
  position: absolute;
  left: 0;
  top: 50px; }

.huangse b {
  position: absolute;
  left: 100px;
  top: 50px;
  color: #fff;
  font-size: 22px; }

.huangse p {
  position: absolute;
  left: 130px;
  top: 58px;
  color: #fff;
  font-size: 14px; }

.bntl {
  width: 20px;
  height: 36px;
  position: absolute;
  left: 30px;
  top: 50px;
  text-align: center;
  line-height: 36px;
  color: #f0c310;
  z-index: 20;
  font-size: 20px; }

.bntr {
  width: 20px;
  height: 36px;
  position: absolute;
  left: 50px;
  top: 50px;
  text-align: center;
  line-height: 36px;
  color: #f0c310;
  font-size: 20px;
  z-index: 20; }
