/*
Error: Invalid CSS after "...-g(1000px,auto)": expected "{", was ";"
        on line 84 of C:\Users\Administrator\Desktop\company\End-company\css\scss\list.scss

79:     top:300px;
80:     right:0px;
81: }
82: .banner5{
83: <<<<<<< HEAD
84:     @include k-g(1000px,auto);
85:     position: absolute;
86:     left:0;
87:     bottom:20px;
88: =======
89:     @include k-g(1000px,250px);

Backtrace:
C:\Users\Administrator\Desktop\company\End-company\css\scss\list.scss:84
D:/软件/koloa/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1165:in `expected'
D:/软件/koloa/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1101:in `expected'
D:/软件/koloa/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1096:in `tok!'
D:/软件/koloa/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:641:in `block'
D:/软件/koloa/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
D:/软件/koloa/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:661:in `block_child'
D:/软件/koloa/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:650:in `block_contents'
D:/软件/koloa/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:642:in `block'
D:/软件/koloa/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:635:in `ruleset'
D:/软件/koloa/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:660:in `block_child'
D:/软件/koloa/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
D:/软件/koloa/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:117:in `stylesheet'
D:/软件/koloa/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:42:in `parse'
D:/软件/koloa/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:393:in `_to_tree'
D:/软件/koloa/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:268:in `render'
D:/软件/koloa/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:404:in `run'
D:/软件/koloa/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
D:/软件/koloa/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
D:/软件/koloa/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
D:/软件/koloa/Koala/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
D:/软件/koloa/Koala/bin/sass:18:in `load'
D:/软件/koloa/Koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...-g(1000px,auto)\": expected \"{\", was \";\"\A         on line 84 of C:\Users\Administrator\Desktop\company\End-company\css\scss\list.scss\A \A 79:     top:300px;\A 80:     right:0px;\A 81: }\A 82: .banner5{\A 83: <<<<<<< HEAD\A 84:     @include k-g(1000px,auto);\A 85:     position: absolute;\A 86:     left:0;\A 87:     bottom:20px;\A 88: =======\A 89:     @include k-g(1000px,250px);"; }
