@charset "UTF-8";
/*去掉标签的默认样式*/
* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑","宋体","sans-serif";
  position: relative;
  box-sizing: border-box;
  list-style: none; }

a {
  text-decoration: none; }

input, select {
  border: none; }

img {
  border: none; }

.banner {
  width: 100%;
  height: 846px;
  background: url(../imgs/list/4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative; }

.zhezhao {
  width: 100%;
  height: 100%;
  background: #2b5f6f;
  opacity: 0.9; }

.lv {
  width: 225px;
  height: 250px;
  background: #177867;
  position: absolute;
  top: 270px;
  left: 910px;
  opacity: 0.6; }

.yellow1 {
  width: 200px;
  height: 200px;
  background: #edd325;
  position: absolute;
  top: 300px;
  left: 45px;
  opacity: 0.6; }

.yellow2 {
  width: 50px;
  height: 50px;
  background: #edd325;
  position: absolute;
  top: 270px;
  left: 10px;
  opacity: 0.6; }

.bai {
  width: 100%;
  height: 200px;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0; }

.banner1 {
  width: 1200px;
  height: 636px;
  background: #edd325;
  position: absolute;
  top: 120px;
  left: 80px; }

.bannertu.banner2 {
  width: 1200px;
  height: 636px;
  background: url(../imgs/list/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 120px;
  left: 80px; }

.bannertu.banner3 {
  width: 1200px;
  height: 636px;
  background: url(../imgs/list/11.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 120px;
  left: 80px; }

.bannertu.banner4 {
  width: 340px;
  height: 165px;
  background: url(../imgs/list/123.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 320px;
  left: 20px; }

.banner6 {
  width: 70px;
  height: 265px;
  background: url(../imgs/list/1.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 300px;
  right: 0px; }

.banner5 {
  width: 1000px;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 1000px;
  height: 250px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: url(../imgs/list/111.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%; }

.banner5_2 {
  width: 100%;
  height: 125px; }

.banner5_2 .banner5_1 {
  width: 33.33%;
  height: 125px;
  padding-top: 30px;
  padding-left: 20px;
  box-sizing: border-box;
  float: left; }

.banner5_3 {
  width: 50%;
  height: 60px;
  float: left;
  color: #666; }

.banner5_3 span:nth-of-type(1) {
  color: #40D1F1; }

.banner6_1 {
  width: 100%;
  height: 50px;
  padding: 0 30px;
  box-sizing: border-box; }

.banner6_1 img {
  vertical-align: middle;
  margin: 0 10px; }

.yuan {
  width: 50px;
  height: 180px;
  text-align: right;
  padding-top: 10px;
  padding-left: 10px;
  box-sizing: border-box; }

.yuan1 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  margin-top: 15px;
  border: 2px solid white;
  box-sizing: border-box;
  cursor: pointer; }

.yuan span {
  color: white;
  margin-left: 25px; }

.yuan2 {
  width: 70px;
  height: 65px;
  background: url(../imgs/list/tuo.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 10px; }

.yuan2 span {
  display: block;
  width: 25px;
  height: 60px;
  float: left;
  color: #edd325;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  cursor: pointer; }

/* banner*/
#ss {
  width: 1200px;
  height: 60px;
  margin: 0 auto;
  position: relative; }

#ss input {
  width: 80%;
  height: 100%;
  border: 1px solid #eee;
  box-sizing: border-box;
  color: #EBEBEB;
  line-height: 60px; }

#ss a {
  display: block;
  width: 15%;
  height: 100%;
  float: right;
  color: white;
  background: #40d1f1;
  line-height: 60px;
  text-align: center; }

.diqu {
  width: 1200px;
  height: 60px;
  margin: 0 auto;
  position: relative;
  margin-top: 50px; }

.diqu1 {
  width: 226px;
  height: 30px;
  float: left;
  border: 1px solid #eee;
  margin-right: 14px;
  color: #333;
  line-height: 30px;
  font-size: 12px; }

.sanjiao {
  overflow: hidden;
  right: 0px;
  bottom: 0px;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid #fff;
  border-right: 5px solid #0180cf;
  border-bottom: 5px solid #0180cf;
  border-left: 5px solid #fff; }

.sign {
  width: 1200px;
  height: 170px;
  margin-top: 50px;
  margin: auto;
  border: 1px solid #eee;
  background: url(../imgs/list/5.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25px 20px; }

.signLeft {
  width: 599px;
  height: 100%;
  float: left;
  border-right: 1px dashed #eee;
  height: 100px;
  margin-top: 40px;
  margin-bottom: 40x; }

.signLeft h4 {
  color: #333;
  margin-top: 20px;
  margin-left: 200px; }

.signLeft h5 {
  color: #333;
  margin-top: 10px;
  margin-left: 200px; }

.signLeft h5 span {
  color: #f1cd3e; }

.signLeft h6 {
  color: #333;
  margin-top: 10px;
  margin-left: 200px; }

.signRight {
  width: 599px;
  height: 100%;
  float: left; }

.signRight h4 {
  color: #333;
  margin-top: 50px;
  margin-left: 30px; }

.signRight h5 {
  color: #333;
  margin-top: 10px;
  margin-left: 30px; }

.signRight h6 {
  display: inline-block;
  color: #333;
  margin-top: 10px;
  margin-left: 30px;
  border: 1px solid #eee;
  float: left; }

.leader {
  width: 148px;
  height: 46px;
  background: #40d1f1;
  color: #fff;
  font-size: 18px;
  line-height: 46px;
  margin-left: 400px;
  margin-top: -30px;
  text-align: center;
  border-radius: 5%; }

.sign2 {
  background-position: 25px -160px; }

.sign3 {
  background-position: 25px -336px; }

.sign4 {
  background-position: 25px -510px; }

.sign5 {
  background-position: 25px -510px;
  border-bottom: 1px solid #eee; }

.page {
  width: 1200px;
  height: 177px;
  margin: 0 auto;
  border: 1px solid #eee;
  border-top: none; }

.page .page1 {
  width: 800px;
  height: 100px;
  margin-left: 400px; }

.page a {
  color: #666;
  font-size: 14px;
  float: left;
  display: block;
  margin-top: 50px;
  margin-left: 10px; }

.page .pages {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #eee; }

.page .page1 .span {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 20px;
  border: 1px solid #eee;
  margin: 0 5px; }

/* qiyetuijian*/
#tuijian {
  width: 1200px;
  height: 40px;
  margin: 30px auto;
  padding: 0 10px;
  box-sizing: border-box;
  line-height: 40px; }

#tuijian img {
  vertical-align: middle;
  margin-right: 15px; }

#xz {
  margin-top: 10px;
  float: right; }

.tuijian {
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  position: relative; }

.tuijian_1 {
  width: 25%;
  height: 100%;
  float: left;
  padding-right: 10px;
  box-sizing: border-box; }

.tuijian_1:nth-of-type(2) img {
  margin-top: 6px; }

.tuijian_1:nth-of-type(4) {
  padding: 0; }
