/*去掉标签的默认样式*/
*{
	margin:0;
	padding:0;
	font-family:"微软雅黑","宋体","sans-serif";
	position:relative;
	box-sizing:border-box;
	list-style:none;
<<<<<<< HEAD
	
=======

>>>>>>> 89a42cc2856dad2d46b40275801a7fec4e2008fd
}
a{
	 text-decoration:none;
	}
input,select{border:none;}
//内宽
$inner-width:1200px;
$green:#6cce24;
$black:#575757;
$page-gray:#abaaa;
$blue:#10c8f0;
$yellow:#ff6a91;
$pink:#ff6a91;
$page-green:#45645a;
$page-black:#575757;
$page-gray:#abaaaa;
$page-blue:#62aef5;
$page-yellow:#edd325;
$page-pink:#ff6a91;
$page-turquoise:#3ce694;
$DeepGreen:#45645a;
$-red:#ec0000;
$shadow:#cbc8c9;
//图片路径
$img-path:'../imgs/';
@mixin top-bottom{
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
}
@mixin left-right{
	position:absolute;
	left:0;
	right:0;
	margin:auto;
}
@mixin center{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
}
<<<<<<< HEAD
img{
    border: none;
=======
@mixin yuan($w,$h){
    width: $w;
    height: $h;
    border-radius: 50%;
    border: 3px solid #fff;
    background:$green;
>>>>>>> 89a42cc2856dad2d46b40275801a7fec4e2008fd
}
