@import 'base.scss';
.body{
    width: 100%;
}
.inner{
    width: $inner-width;
    @include center;
    z-index: 99;
}
.zhao{
    width: 100%;
    height: auto;
    background: #000;
    opacity: 0.8;
    z-index: 50;
}
/*parttop start*/
 .parttop{
    width: $inner-width;
    height: 630px;
    background: #ebebeb;
    margin: 0 auto;
    padding: 30px 50px;
    margin-top: 100px;
    background: #edecec;
    z-index: 99;
    .picbox{
        width: 317px;
        height: 189px;
         @include left-right;
         top: -110px;
         z-index: 999;
         
         img{
           box-shadow: 0 0 10px #888;  
         }
         
    }
    .topone{
        width: 30%;
        height: 320px;
        float: left;
        text-align: center;
        background: url(../imgs/companyprofile/phone.jpg) center no-repeat;
        background-size: cover;
        margin-right: 5%;
        margin-top: 80px;
        .circle{
            @include yuan(33px,33px);
            box-shadow: 0 0 2px $shadow;
            left: -15px;
            top: -15px;
            cursor: pointer;
            .col{
                width: 90%;
                height: 3px;
                background: #fff;
                @include center;
                position: absolute;
                border-radius: 10%;
                transform:rotate(45deg);
            }
            .row{
                width: 90%;
                height: 3px;
                background: #fff;
                @include center;
                position: absolute;
                border-radius: 10%;
                transform:rotate(135deg);
            }
        }
     }
    .toptwo{
        width: 30%;
        height: 320px;
        float: left;
        text-align: center;
        background: url(../imgs/companyprofile/peple.jpeg) center no-repeat;
        background-size: cover;
        margin-right: 5%;
        margin-top: 80px;
        .circle{
            @include yuan(33px,33px);
            box-shadow: 0 0 2px $shadow;
            left: -15px;
            top: -15px;
            cursor: pointer;
            .col{
                width: 90%;
                height: 3px;
                background: #fff;
                @include center;
                border-radius: 10%;
                transform:rotate(45deg);
                position: absolute;
            }
            .row{
                width: 90%;
                height: 3px;
                background: #fff;
                @include center;
                border-radius: 10%;
                transform:rotate(135deg);
                position: absolute;
            }
        }
    } 
    .topthree{
        width: 30%;
        height: 320px;
        float: left;
        background: $blue;
        text-align: center;
        position: relative;
        margin-top: 80px;
        a{
            display: inline-block;
            width: 100%;
            height: 100%;
        }
       .row{
        width: 100px;
        height: 10px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff;
       }
       .col{
        width: 10px;
        height: 100px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff; 
        
       }
    }   

.ul{
    height: 100px;
    width: 100%;
    float: left;
    li:nth-of-type(1){
        width: 30%;
        height: 100px;
        float: left;
        margin-right: 5%;
        
    .btn{
        background: url(../imgs/companyprofile/bg.png);
        height: 50px;
        width: 150px;
        @include center;
        outline: none;
        color: #fff;
        text-align: center;
        position: absolute;
        cursor: pointer;
    }

    }
    
        li:nth-of-type(2){
        width: 30%;
        height: 100px;
        float: left;
        margin-right: 5%;
    .btn{
        background: url(../imgs/companyprofile/bg.png);
        height: 50px;
        outline: none;
        color: #fff;
        text-align: center;
        width: 150px;
        @include center;
        position: absolute;
        cursor: pointer;
    }

    }
    
        li:nth-of-type(3){
        width: 30%;
        height: 100px;
        float: left;
    .btn{
        background: url(../imgs/companyprofile/bg.png);
        height: 50px;
        outline: none;
        color: #fff;
        text-align: center;
        width: 150px;
        @include center;
        position: absolute;
        cursor: pointer;
    }

    }

}
    .bottom{
        width: 100%;
        float: left;
        height: 100px;
        .submit{
        height: 80px;
        width: 249px;
        @include center;
        float: left;
        position: absolute;
    }
    
    }

}
.list{
    width: 80%;
    height: 75px;
    @include left-right;
    background: #2d6748;
    z-index: 60;
    ul{
        width: 100px;
        height: 17px;
        @include left-right;
        bottom: 20px;
        li{
            @include yuan(17px,17px);
            border: 3px solid #fff;          
            float: left;
            background: #fff;
            margin-right: 8px;
        }

    }
    

}
    .pageselect{
        width:305px;
        height: 108px;
        position: absolute;
        right: 40px;
        z-index: 70;
        background: url(../imgs/companyprofile/select.png);
        span:nth-of-type(1){
            position: absolute;
            left: 20px;
            bottom: 30px;
            color: #f0c310;
            cursor: pointer;
        }
        span:nth-of-type(2){
            position: absolute;
            left: 40px;
            bottom: 30px;
            color: #f0c310;
            cursor: pointer;
        }
        span:nth-of-type(3){
            position: absolute;
            left: 85px;
            bottom: 20px;
            color: #fff;
            font-size: 30px;
        }
        span:nth-of-type(4){
            position: absolute;
            left: 125px;
            bottom: 25px;
            color: #fff;
            font-size: 18px;
        }        
    }
    
/*parttop end*/

/*partbottom start*/
 .partbottom{
    width: $inner-width;
    height: 560px;
    background: #ebebeb;
    margin: 0 auto;
    margin-top: 300px;
    padding: 30px 50px;
    background: #edecec;
    z-index: 99;
    .picbox{
        width: 317px;
        height: 189px;
         @include left-right;
         top: -110px;
         z-index: 999;
         background: url(../imgs/companyprofile/icon.png) center no-repeat;

         
    }
    .topone{
        width: 30%;
        height: 320px;
        float: left;
        text-align: center;
        background: url(../imgs/companyprofile/phone.jpg) center no-repeat;
        background-size: cover;
        margin-right: 5%;
        margin-top: 80px;
     }
    .toptwo{
        width: 30%;
        height: 320px;
        float: left;
        text-align: center;
        background: url(../imgs/companyprofile/peple.jpeg) center no-repeat;
        background-size: cover;
        margin-right: 5%;
        margin-top: 80px;
        .leaf{
            width: 152px;
            height: 173px;
            position: absolute;
            top: -35px;
            right: -80px;
            background: url(../imgs/companyprofile/leaf.png)center no-repeat;
            z-index: 99;
            opacity: 0.8;
        }
    } 
    .topthree{
        width: 30%;
        height: 320px;
        float: left;
        background: $blue;
        text-align: center;
        position: relative;
        margin-top: 80px;
        z-index: 100;
        a{
            display: inline-block;
            width: 100%;
            height: 100%;
        }        
       .row{
        width: 100px;
        height: 10px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff;
       }
       .col{
        width: 10px;
        height: 100px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff; 
        
       }
    }   

  .bottom{
        width: 100%;
        float: left;
        height: 100px;
        .submit{
        height: 80px;
        width: 249px;
        @include center;
        float: left;
        position: absolute;
        bottom: -60px;
    }
    
    }

}
.listone{
    width: 80%;
    height: 75px;
    @include left-right;
    background: #2d6748;
    z-index: 60;
    ul{
        width: 100px;
        height: 17px;
        @include left-right;
        bottom: 20px;
        li{
            @include yuan(17px,17px);
            background: #fff;
            float: left;
            margin-right: 8px;
            border: 3px solid #fff;
        }
    }
    

}
    .pageselect{
        width:305px;
        height: 108px;
        position: absolute;
        right: 40px;
        z-index: 70;
        background: url(../imgs/companyprofile/select.png);
        span:nth-of-type(1){
            position: absolute;
            left: 20px;
            bottom: 30px;
            color: #f0c310;
            cursor: pointer;
        }
        span:nth-of-type(2){
            position: absolute;
            left: 40px;
            bottom: 30px;
            color: #f0c310;
            cursor: pointer;
        }
        span:nth-of-type(3){
            position: absolute;
            left: 85px;
            bottom: 20px;
            color: #fff;
            font-size: 30px;
        }
        span:nth-of-type(4){
            position: absolute;
            left: 125px;
            bottom: 25px;
            color: #fff;
            font-size: 18px;
        }        
    }
.checked{
    position: absolute;
    width: 100%;
    height: 70px;
    background: #000;
    opacity: 0.7;
    bottom: 0;
    left: 0;
    color: #fff;
    text-align: center;
    line-height: 70px;
    font-size: 15px;
    display: none;
}
.parttop .topone .checked{
    display: block;
} 
.listone .tsli{
    background:#f0c310;
}
.list .tsli{
    background:#f0c310;
}
/*partbottom end*/