@import 'base';
input{
    outline: none;
}
@mixin k-g($width,$height){
    width:$width;
    height:$height;
}
@mixin auto{
    margin:0 auto;
    position: relative;
}
@mixin bg($bg){
    background: $bg;
    background-size: cover;
    background-repeat: no-repeat;
}
@mixin absolute($top,$left){
    position: absolute;
    top:$top;
    left:$left;
}
.banner{
    @include k-g(100%,846px)
    @include bg(url(../imgs/list/4.jpg))
    @include auto;
}
.zhezhao{
   @include k-g(100%,100%);
   background:#2b5f6f;
   opacity: 0.9; 
}
.lv{
    @include k-g(225px,250px);
    background:#177867;
    @include absolute(270px,910px);
    opacity: 0.6;
}
.yellow1{
    @include k-g(200px,200px);
    background:$page-yellow;
    @include absolute(300px,45px);
    opacity: 0.6;
}
.yellow2{
    @include k-g(50px,50px);
    background:$page-yellow;
    @include absolute(270px,10px);
    opacity: 0.6;
}
.bai{
   @include k-g(100%,200px); 
   background:white;
   position: absolute;
   bottom: 0;
   left: 0;  
}
.banner1{
    @include k-g(1200px,600px);
    background:$page-yellow;
    @include absolute(120px,75px)
}
.bannertu.banner2{
    @include k-g(1200px,600px);
    @include bg(url(../imgs/list/2.jpg))
    @include absolute(120px,75px)
}
.bannertu.banner3{
    @include k-g(1200px,600px);
   @include bg(url(../imgs/list/11.jpg))
    @include absolute(120px,75px)
}
.bannertu.banner4{
    @include k-g(340px,165px);
    @include bg(url(../imgs/list/123.jpg))
    @include absolute(320px,20px);
}
.banner6{
    @include k-g(70px,265px);
    @include bg(url(../imgs/list/1.png))
    position: absolute;
    top:300px;
    right:0px;
}
.banner6_1{
     @include k-g(100%,50px);
     padding:0 30px;
     box-sizing: border-box;
}
.banner6_1 img{
    vertical-align: middle;
    margin:0 10px;
}
.yuan{
    @include k-g(50px,180px);
    text-align: right;
    padding-top:10px;
    padding-left:10px;
    box-sizing: border-box;
   
}
.yuan1{
    width:25px;
    height:25px;
    border-radius: 50%;
    background:white;
    margin-top:15px;
    border:2px solid white;
    box-sizing: border-box;
    cursor: pointer;
}
.yuan span{
    color:white;
    margin-left:25px;
}
.yuan2{
    @include k-g(70px,65px);
    @include bg(url(../imgs/list/tuo.png));
   margin-top:10px;
}
.yuan2 span{
    display: block;
    @include k-g(25px,60px);
    float: left;
    color:$page-yellow;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

/*快速匹配*/
.pipei{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.pipei1{
    width: 100%;
    height: 200px;
    margin: 0 auto;
    margin-top: -300px;
    position: relative;
}
.ppl{
    width: 230px;
    height: 100%;
    float: left;
    background: #0f2847;
}
.yk{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 1px solid #82a5bc;
    margin-top: -15px;
}
.ppz{
    width: 190px;
    height: 190px;
    background: #c7e8fd;
    border-radius: 50%;
    border-left: 25px solid #43d3f2;
    border-bottom: 25px solid #37a4c4;
    border-top: 25px solid #43d3f2;
    border-right: 25px solid #37a4c4;
    margin: 0 auto;
    margin-top: 20px;
}
.ppz span{
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 55px;
    color: #0c1f37;
}
.yb{
    height: 200px;
    position: absolute;
    left: 228px;
    top: 0;
}
.yb div{
    width:5px;
    height: 5px;
    margin-top: 8px;
    border-radius: 50%;
    background: #fff;
}
.ppr{
    width: 970px;
    height: 100%;
    float: right;
    background-image: url($img-path+'gongsiliebiao/ppr.png');
}
.ppb{
    width: 845px;
    height: 60px;
    margin: 0 auto;
    background: #fff;
    border-radius: 50px;
    margin-top: 70px;
}
#pb1{
    width: 600px;
    height: 60px;
    float: left;
    margin-left: 50px;
    outline: none;
}
#pb2{
    width: 120px;
    height: 50px;
    float: right;
    border-radius: 50px;
    background: #6cce24;
    border: 2px solid #fff;
    margin-top: 20px;
    margin-right: -10px;
}
.pipei2{
    width: 100%;
    height: 194px;
    margin: 0 auto;
    margin-top: 20px;
}
.pipei2 img:nth-of-type(1){
    float: left;
}
.pipei2 img:nth-of-type(2){
    float: right;
}

.pipei3{
    width: 100%;
    height: 219px;
    margin: 0 auto;
    margin-top: 30px;
    background: url($img-path+'gongsiliebiao/p3bj.png');
    border-bottom: 1px solid #10c6ee;
    box-shadow: 0px -3px 10px #ccc;
}
.pp3l{
    width: 800px;
    height: 100%;
    float: left;
    .p3tb{
        float: left;
        margin-left: 20px;
        margin-top: 50px;
    }
}
.pp3ls{
    width: 400px;
    height: 100%;
    float: left;
    margin-left: 50px;
    .p31{
        display: block;
        width: 100%;
        height: 35px;
        line-height: 35px;
        margin-top: 70px;
        float: left;
        font-size: 12px;
    }
    .p32{
        display: block;
        width: 160px;
        height: 35px;
        line-height: 35px;
        font-size: 12px;
        float: left;
    }
    .p33{
        display: block;
        width: 160px;
        height: 35px;
        line-height: 35px;
        float: left;
        color: #10c6ee;
    }
}
.pp3r{
    width: 100px;
    float: right;
    height: 100%;
    margin-right: 150px;
    img{
        float: left;
        margin-left: 15px;
        margin-top: 40px;
    }
    span{
        display: block;
        width: 100%;
        height: 35px;
        line-height: 35px;
        text-align: center;
        float: left;
        font-size: 14px;
    }
    input{
        width: 100px;
        height: 35px;
        background-image: url($img-path+'gongsiliebiao/pan.png');
        background-size: 100px 35px;
    }
    .zb{
        width: 100px;
        height: 35px;
        background-image: url($img-path+'gongsiliebiao/pan2.png');
        background-size: 100px 35px;
    }
}
.fy{
    width: 100%;
    height: 50px;
    margin-top: 50px;
}
.fy1{
    width: 180px;
    height: 30px;
    float: left;
    margin-left: 200px;
    input{
        width: 80px;
        height: 30px;
        border-radius: 50px;
        border: 1px solid #666;
    }
}
.fy2{
    width: 350px;
    height: 30px;
    float: left;
    .fy21{
        width: 70px;
        height: 30px;
        border-radius: 50px;
        border: 1px solid #666;
        float: left;
        margin-left: 10px;
    }
    .fy22{
        width: 25px;
        height: 25px;
        border-radius: 50px;
        border: 1px solid #666;
        margin-left: 10px;
        margin-top: 3px;
        float: left;
    }
    .fy23{
        width: 30px;
        height: 30px;
        border-radius: 50px;
        border: 1px solid #666;
        background: #2c87f8;
        margin-left: 10px;
        float: left;
        color: #fff;
    }
}
.fy3{
    width: 150px;
    height: 30px;
    float: left;
    input:nth-of-type(1){
        width: 80px;
        height: 30px;
        border-radius: 50px;
        border: 1px solid #666;
        float: left;
        text-align: center;
    }
    input:nth-of-type(2){
        width: 30px;
        height: 30px;
        border-radius: 50px;
        border: 1px solid #666;
        background: #2c87f8;
        margin-left: 10px;
        float: left;
        color: #fff;
    }
}
//推荐企业
.tjqy{
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}
.tjqys{
    width: 100%;
    height: 50px;
    margin: 0 auto;
}
.tj{
    display: block;
    width: 30px;
    height: 30px;
    background-image: url($img-path+'gongsiliebiao/s.png');
    background-position: top;
    background-size: contain;
    font-size: 14px;
    background-repeat: no-repeat;
    line-height: 30px;
    text-align: center;
    float: left;
    margin-top: 5px;
}
.qy{
    display: block;
    width: 50px;
    height: 30px;
    float: left;
    font-weight: 300;
    color: #45b45a;
}
.tjy{
    display: block;
    float: left;
    font-size: 14px;
    margin-top: 10px;
}
.gsfl1{
    width: 100px;
    height: 30px;
    float: left;
    margin-left: 20px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background-image: url($img-path+'gongsiliebiao/pan.png');
    background-size: cover;
}
.gsfl2{
    width: 100px;
    height: 30px;
    float: left;
    margin-left: 20px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background-image: url($img-path+'gongsiliebiao/pan2.png');
    background-size: cover;
}
.gsfl3{
    width: 100px;
    height: 30px;
    float: left;
    margin-left: 20px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background-image: url($img-path+'gongsiliebiao/fl.png');
    background-size: cover;
}
.yxgs{
    width: 1200px;
    margin: 0 auto;
}
.yxgss{
    width: 350px;
    float: left;
    margin-left: 30px;
    margin-right: 10px;
}
.yxgs1{
    width: 150px;
    float: left;
    margin-top: 10px;
}
.yxgs2{
    width: 250px;
    float: left;
    margin-top: 10px;
}
.yx{
    float: left;
    margin-left: 5px;
    margin-top: -15px;
}
