@import"base";
.jianli{
    width: 960px;
    height: 630px;
    margin-top:560px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0;
    background:blue
}
.jianli1{
    width: 960px;
    height: 630px;
    margin-top:230px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0;
    background:pink;
}
