@import"base";
.jianli{
    width: 960px;
    height: 630px;
    margin-top:560px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0;
    background:blue;
    position: relative;
}
.resume{
    width: 320px;
    height: 180px;
    position: absolute;
    left:50%;
    margin-left:-160px;
    top:-90px;
}
.resume a{
    display: block;
    width: 320px;
    height: 180px;
    
}
.resume img{
    width: 320px;
    height: 180px;
}

.shouji{
    width: 860px;
    height: 400px;
    position: absolute;
    left:50px;
    top:120px;
   
    background:pink;
    
    
}
.shouji li{
    width: 270px;
    height: 400px;
    float: left;
    
}
.shouji li a{
    display: block;
    width: 270px;
    height: 320px;
    
}
.shouji li a img{
    
    width: 270px;
    height: 320px;
    
}
.shouji li:nth-of-type(2){
    margin-left:25px;
}
.shouji li:nth-of-type(3){
    margin-left:25px;
}
.input1{
    width: 140px;
    height: 40px;
    background:red;
    text-align:center ;
    border-radius: 35%;
    margin:20px 65px;
    }
.jianli1{
    width: 960px;
    height: 630px;
    margin-top:230px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0;
    background:pink;
}
